.header {
    //border: 2px solid red;
}

.header-top {
    background-color: rgba(234, 255, 255, 0.49);
    display: flex;
    justify-content: space-between;
    padding: 0 $m-size 0 $m-size;
}


.header-buttons {
    background-color: #81a5e2;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: $s-size 0 $s-size 0;
    //margin: 0 1px 0 1px;
}

.logo-title {
    color: #aaffa2;
    text-shadow: 1px 1px grey;
}

.is-active {
    border:lightgray;
    background: rgba(149, 149, 156, 0.14);
    font-weight: bold;
    color: #36c3ff;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
    border: 1px solid #dee2e6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

}

.nav-link {
    color: #36c3ff;
}

a:hover {
    color: #36c3ff;
}