.ReactTable .rt-tr:hover .rt-td {
    background: rgba($color-pagination-blue, 0.5);
}


.ReactTable .-pagination .-btn {
    background: rgba($color-pagination-blue, 0.1);
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
    background: rgba($color-pagination-blue, 0.5);

}
