html {
    //font-size: 62.5%;
    padding: 0 150px 0 150px;
}

//body {
//    //font-family: "Helvetica Neue", sans-serif;
//    //font-size: $m-size;
//}

//button {
//    cursor: pointer;
//
//}

//.btn:active,
//.btn:focus {
//    outline: none !important;
//}

//button:disabled {
//    opacity: .5;
//    cursor: default;
//}


//input:active,
//input:focus {
//    outline: none;
//}

//div:active,
//div:focus {
//    outline: none;
//}
//
.canvas {
    margin: 0 $s-size $s-size $s-size;
    //background-color: rgba(56, 64, 79, 0.41);

}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.lower-canvas {
}